# Application
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess
.htaccess
# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example



# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
web/app/ewww/
