 // WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

body.admin-bar{
 //.wrap.container { margin-top: 32px !important; }
  * html body { margin-top: 32px !important; }
  @media screen and ( max-width: 782px ) {
   //.wrap.container { margin-top: 46px !important; }
    * html body { margin-top: 46px !important; }
  }
}
html #wpadminbar{
  position:fixed;
}
// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  margin: 1em auto;
  height: auto;
}
.alignleft,
.alignright {
  margin-bottom: 1em;
  height: auto;
}
@include media-query (lap-and-up) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: 1em;
  }
  .alignright {
    float: right;
    margin-left: 1em;
  }
}

// Captions
.wp-caption {
  //@extend .thumbnail;
}
.wp-caption-text {
  padding: 1em;
}

// Text meant only for screen readers
.screen-reader-text {
   position: absolute !important;
  text-indent:-9999px;
}