/**
 * Product loops
 */

ul.products {
    clear: both;
    @include clearfix();
    li.product {
        //float: left;
        //margin: 0 3.8% 2.992em 0;
        padding: 0;
        position: relative;
        width: 50%;
        margin-left: 0;
    }
    li.first {
        //clear: both;
    }
    li.last {
        //margin-right: 0;
    }
}

&.columns-1 {
    ul.products {
        li.product {
            width: 100%;
            margin-right: 0;
        }
    }
}

&.columns-2 {
    ul.products {
        li.product {
            width: 48%;
        }
    }
}

&.columns-3 {
    ul.products {
        li.product {
            width: 30.75%;
        }
    }
}

&.columns-5 {
    ul.products {
        li.product {
            width: 16.95%;
        }
    }
}

&.columns-6 {
    ul.products {
        li.product {
            width: 13.5%;
        }
    }
}

.woocommerce-result-count {
    float: left;
}

.woocommerce-ordering {
    float: right;
}

.woocommerce-pagination {
    ul.page-numbers {
        @include menu();
    }
}
