/**
 * General layout styles
 */
.col2-set {
	@include clearfix();
	width: 100%;

	.col-1 {
		float: left;
		width: 48%;
	}
	.col-2 {
		float: right;
		width: 48%;
	}
}

img {
	height: auto;
	max-width: 100%;
}