      /**
     * Product loops
     */
      
      .products ul,
      ul.products {
          margin: 0 0 1em;
          padding: 0;
          list-style: none outside;
          clear: both;
          @include clearfix();
          li {
              list-style: none outside;
          }
      }
      
      ul.products {
          li.product {
              .onsale {
                  top: 0;
                  right: 0;
                  left: auto;
                  margin: -0.5em -0.5em 0 0;
              }
              .woocommerce-LoopProduct-link {
                  padding: 2.25rem 0 1rem;
                  display: flex;
                  width: 100%;
                  >.content {
                      flex-basis: 65.5%;
                      padding: 2rem 3.5% 0 7%;
                      .product-logo {
                          margin-bottom: 1.5rem;
                          img {
                              margin: 0;
                          }
                      }
                  }
              }
              .add_to_cart_button {
                  border: 1px solid #c0c0bf;
                  text-transform: uppercase;
                  border-radius: 0;
                  padding: .75rem 15%;
              }
              .woocommerce-loop-image-wrapper {
                  padding: 0 16% 0 3%;
              }
              .product-loop-excerpt {
                  color: #000;
              }
              h3,
              .woocommerce-loop-product__title,
              .woocommerce-loop-category__title {
                  padding: 0.5em 0;
                  margin: 0;
                  font-size: 1em;
              }
              a {
                  text-decoration: none;
              }
              a img {
                  max-width: 100%;
                  height: auto;
                  display: block;
                  margin: 0 auto;
                  box-shadow: none;
              }
              strong {
                  display: block;
              }
              .star-rating {
                  font-size: 0.857em;
              }
              .button {
                  margin-top: 1em;
              }
              .price {
                  color: $highlight;
                  display: block;
                  font-weight: normal;
                  margin-bottom: 0.5em;
                  font-size: 0.857em;
                  del {
                      color: inherit;
                      opacity: 0.5;
                      display: block;
                  }
                  ins {
                      background: none;
                      font-weight: 700;
                  }
                  .from {
                      font-size: 0.67em;
                      margin: -2px 0 0 0;
                      text-transform: uppercase;
                      color: rgba(desaturate($highlight, 75%), 0.5);
                  }
              }
          }
      }
      
      .woocommerce-result-count {
          margin: 0 0 1em;
      }
      
      .woocommerce-ordering {
          margin: 0 0 1em;
          select {
              vertical-align: top;
          }
      }
      
      nav.woocommerce-pagination {
          text-align: center;
          ul {
              display: inline-block;
              white-space: nowrap;
              padding: 0;
              clear: both;
              border: 1px solid darken( $secondary, 10%);
              border-right: 0;
              margin: 1px;
              li {
                  border-right: 1px solid darken( $secondary, 10%);
                  padding: 0;
                  margin: 0;
                  float: left;
                  display: inline;
                  overflow: hidden;
                  a,
                  span {
                      margin: 0;
                      text-decoration: none;
                      padding: 0;
                      line-height: 1;
                      font-size: 1em;
                      font-weight: normal;
                      padding: 0.5em;
                      min-width: 1em;
                      display: block;
                  }
                  span.current,
                  a:hover,
                  a:focus {
                      background: $secondary;
                      color: darken( $secondary, 40%);
                  }
              }
          }
      }
