.et_divi_builder #et_builder_outer_content{
	.et_pb_column_1,.et_pb_column_0{
@media only screen and ( max-width: 767px ) {
 background-size: cover !important;
}
}
} 


.woocommerce  div.product{
	padding:0 3.5%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	>.first-col{ width:53%;}
	>.second-col{ width:40%;margin-bottom: 0;}
	>.entry-description{
		display: flex;
		flex-direction: column;
		
		position: relative;
		margin-bottom:1rem;
	}
	>.summary{ margin-bottom:1rem;}
	.initial-text h3{ font-weight: 300; .title-product{ font-weight: bold;}}
	div.images{
		width:auto;
		float:none;
	margin-bottom: 15px;
text-align: left;
padding-top: 11px;
>.woocommerce-main-image{display: inline-block;}
	}
	.buy-wrapper{
		display: inline-flex;
	}
	.price{
		margin: 0;		
		display: inline-block;
		box-sizing: border-box;		
		line-height: 48px;
		height: 3rem;
		padding: 0em 4px;
		font-size: 1.35rem;
		font-weight: 500;
	}
	form.cart{
		margin-bottom: 0;
		margin-right: 1.5rem;
	}
	.qty{
		-moz-appearance: textfield;
		font-size: 1.18rem;
		font-weight: 500;
		border: 5px solid #e6e6e6;
		width: 3rem;
		height: 3rem;
		text-align: center;
		padding: 8px;
		box-sizing: border-box;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
    		-webkit-appearance: none;
		}
	}
	.single_add_to_cart_button{
		height: 3rem;
		font-size: 1.2rem;
		text-transform: uppercase;
	}
	.woocommerce-tabs{		
		ul.wc-tabs{
			padding-left: 0;
			display: flex;
			margin-bottom:.5rem;
			&::before{ border:none;}
			li{
				flex-grow: 1;
				text-align: center;
				margin-right: .5rem;
				border: none;
				border-radius: 0%;
				margin-left: 0;			
				color:#000;
				&:last-child{
					margin-right: 0;
				}
				&:before,&:after{
					content: none;
				}
				&.active{
					background-color: #ebe9eb !important;
				}
				a{ 
					font-size: 1.125rem;
					font-weight: 500;
					text-transform: uppercase;
					padding:4px 0;
				}
		
			}
		}
		.panel{
					padding: 1rem 3% 1.5rem;
					background-color: #efefef;
					line-height: 1.6;
					p{ margin:0;}
				}}
}
.woocommerce #reviews #comments {
	ol.commentlist{
		padding-left: 0;
		li .comment-text{
			margin-left: 0;
			display: flex;
			background-color:#efefef;
			justify-content: space-between;
			.description{ flex-grow: 1; }
			.comment-rest{
				display: flex;
				flex-direction: column;
				align-items: flex-end;
			}
			.star-rating{ 
				float:none;
				margin-bottom: .75rem;
				&::before{ position:static;}
				span{ float:none;}
				.meta{ text-align:right;
					>strong{display:block;}
				}
			}
		}
	} 
}
	
.single-aree_terapeutiche{
	.area-img-wrapper{ border-bottom: 3px solid #FFE800;}
	.area-content{
		overflow: hidden; 
		margin-bottom:1.5rem;
		.first-col,.second-col{ float:left;width:50%; }
	}	
	.area_terap_attribute_title{
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1;
		margin: 0;
		background-color: #ffe801;
		padding: .5rem 0;
		padding-left: 1rem;
	}
	.area_terap_attribute_content{
		padding: 0 4%;
	}
} 
	
.ok-list{
	list-style:none;
	margin-left:0;
	padding-left: 0;
	>li{
		display:block;
		padding:8px 0;

		&::before{
		  color:#8dba1f;
		  margin-right: 4px;
		}
	}
	
}	
.area-content-wrapper{ overflow:hidden;}

.social-container{
	text-align:left;
	position: absolute;
	bottom: 6px;
padding: 0 3%;
z-index: 9999;
width: 100%;
	font-size: 0.8rem;
	font-weight: 500;
	p{
		width:100%;
		white-space: nowrap;
		margin-top:0;
		margin-bottom:0.5rem;
		vertical-align: top;
	}
	.fb-share-button{ margin-bottom:1rem; }
	.disponibilita::before{
		content:'';
		display:inline-block;
		background-image:url(../images/disponibilita.svg);
		height: 36px;
		width: 36px;
		float: left;
		clear: both;
		margin-right: .5rem;
	}
}
	
.woocommerce-Reviews-title{
	padding: .25rem 3%;
	font-size: 1.125rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom:.5rem;
	margin-top:0;
}

.woocommerce #reviews #comments ol.commentlist li+li,#review_form_wrapper{
    margin-top:.25rem;
  }
  #review_form_wrapper{
  	padding:0 3%;
  	background-color:#efefef;
    #reply-title{
        padding: 8px 0;
        
        font-size: 0.8rem;
		text-transform: uppercase;
		cursor:pointer;
    }

  }
  #commentform{
  	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 0.8rem;
	.comment-form-rating{ order: 2; a{ color:#000; }}
	.form-submit{ 
		order: 3;
		flex-basis: 50%;
		font-size: 1rem; 
	}
	#submit{background-color: #c8c8c8;}
  }
	
	
	
	
	
	body.single-aree_terapeutiche{
	&.woocommerce {
		
		
	
	 div.product{
	 	border-top: 3px solid #FFE800;
		padding:0 1rem;
		display:block;
		.initial-text h3:last-of-type{ margin-bottom:1rem !important;}
		.initial-text+div{
			position:static !important;
		}
		 >.first-col,>.second-col{
			width:50%;
		 }
		 div.images{
		 	text-align: center;
		 
			  img{
			 	width:auto;
			 }
		}
		 .buy-wrapper{
		 	justify-content:center;
		 	width:100%;
		 }
	}
	#reviews{
		overflow: hidden;
margin-bottom: 1rem;
}
#review_form_wrapper{ margin-bottom: 1rem; }
.social-container{
	position:static;
	padding: 0 2%;
	width:auto;
	overflow:hidden;
	>div{
		display: inline-block;
		vertical-align: top;
		margin-right: 1rem;
		&:last-of-type{
			margin-right: 0;
		}
	}
	.fb-share-button{ margin-bottom: 0;}
	.disponibilita p{ padding-left: 3rem; }
}
	
	}
}
	
	
	
	
	
	
	
	
	
	
