.content.row {
    padding: 0 2%;
}

.page-title,
.entry-title {
    text-align: center;
}

.woocommerce,
.home,
.mission,
.page-template-template-contacts,
{
    .content.row {
        padding: 0;
    }
}

.home,
.page-template-aree_tera_category-archive {
    .aree-bios-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .area-bios-wrap {
        flex-grow: 2;
        flex-basis: 33%;
    }
    .area-bios {
        padding: 2rem 1.5rem;
        h3 {
            font-size: 3rem;
            text-align: center;
            color: #fff;
            margin: 0 auto 1.5rem;
            @media(max-width: 300px) {
                font-size: 2.2rem;
            }
        }
        .aree_tera_list {
            list-style: none;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        .aree_tera_list_el {
            margin: 0 auto .5rem;
            padding: .25rem .5rem;
            display: inline-block;
            min-width: 51%;
        }
        .aree_tera_list_link {
            font-size: 1.2rem;
            font-weight: 500;
            color: inherit;
            opacity: 0;
            transition: opacity 1s;
        }
        &:hover .aree_tera_list_link {
            opacity: 1;
        }
    }
}

.page-template-aree_tera_category-archive {
    .content.row {
        padding: 0;
    }
    .area-bios-wrap {
        flex-basis: 100%;
    }
    .area-bios .aree_tera_list_link {
        opacity: 1;
        text-decoration: none;
        font-size: 1.5rem;
    }
    .area-bios h3 {
        color: inherit;
    }
}

.et_divi_builder #et_builder_outer_content {
    @include media-query(palm) {
        .et_pb_row {
            flex-wrap: wrap;
        }
        .et_pb_column.half-home {
            width: 100% !important;
            margin-right: 0 !important;
            background-size: contain !important;
        }
        .et_pb_module p {
            max-width: 75%;
        }
    }
    @media(max-width: 375px) {
        .et_pb_column.half-home {
            background-size: 0 !important;
        }
        .et_pb_module p {
            max-width: none;
        }
    }
}

.woocommerce ul.products,
.woocommerce-page ul.products {
    margin: 0;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li.product {
        display: inline-block;
        font-size: 1rem;
        flex-basis: 33%;
        flex-grow: 12;
        width: auto;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        .woocommerce-LoopProduct-link {
            padding: 2.25rem 0;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
            color: inherit;
            >.content {
                flex-basis: auto;
                padding: 0 7%;
                text-align: center;
                .product-logo > img {
                    margin: 0 auto
                }
            }
        }
    }
}

.product-loop-excerpt {
    font-size: 1.2rem;
    font-weight: 500;
    color: inherit !important;
}

.product-areat-wrapper {
    overflow: hidden;
}

.woocommerce-loop-image-wrapper {
    width: 300px;
    box-sizing: content-box;
    padding: 0 9% 0 3% !important;
    text-align: center;
}

.onsale {
    display: none !important;
}

.woocommerce div.product {
    padding: 0 3.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .product-content-image {
        @media(max-width: 35.1875em) {
            display: none;
        }
    }
    >.first-col {
        width: 53%;
        @media(max-width: 900px) {
            width: 100%;
        }
    }
    >.second-col {
        width: 40%;
        margin-bottom: 0;
        @media(max-width: 900px) {
            width: 100%;
        }
    }
    >.entry-description {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 1rem;
    }
    >.summary {
        margin-bottom: 1rem;
        padding: 0 3%;
        text-align: center;
        @media(max-width: 900px) {
            &, >.images {
                text-align: center;
            }
        }
    }
    .initial-text h3 {
        font-weight: 300;
        .title-product {
            font-weight: bold;
        }
    }
    div.images {
        width: auto;
        float: none;
        margin-bottom: 15px;
        text-align: left;
        padding-top: 11px;
        >.woocommerce-main-image {
            display: inline-block;
        }
    }
    .buy-wrapper {
        display: inline-flex;
        @media(max-width: 400px) {
            flex-wrap: wrap;
        }
    }
    .product-formato,
    .product-sale-info {
        margin: 1rem 0 0;
        font-size: 1.05em;
        hyphens: auto;
        display: inline-block;
        text-align: left;
    }
    .price {
        margin: 0;
        display: inline-block;
        box-sizing: border-box;
        line-height: 48px;
        height: 3rem;
        padding: 0em 4px;
        font-size: 1.35rem;
        font-weight: 500;
    }
    form.cart {
        margin-bottom: 0;
        margin-right: 1.5rem;
        display: flex;
        @media(max-width: 25em) {
            margin-right: 0;
        }
    }
    .qty {
        -moz-appearance: textfield;
        font-size: 1.18rem;
        font-weight: 500;
        border: 5px solid #e6e6e6;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 8px;
        box-sizing: border-box;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
    .single_add_to_cart_button {
        height: 3rem;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    .woocommerce-tabs {
        ul.wc-tabs {
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: .5rem;
            &::before {
                border: none;
            }
            li {
                flex-grow: 1;
                text-align: center;
                margin: 0 .25rem;
                border: none;
                border-radius: 0%;
                color: #000;
                &:before,
                &:after {
                    content: none;
                }
                &.active {
                    background-color: #ebe9eb !important;
                }
                a {
                    font-size: 1.125rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    padding: 4px 0;
                }
            }
        }
        .panel {
            padding: 1rem 3% 1.5rem;
            background-color: #efefef;
            line-height: 1.6;
            p {
                margin: 0;
            }
        }
    }
    a.added_to_cart {
        text-decoration: none;
        color: #444;
        font-weight: 500;
        padding: 1rem 2rem;
        border: 1px solid #444;
    }
}

.woocommerce #reviews {
    @include media-query(palm) {
        margin-bottom: 1rem;
    }
    @media(max-width:768px) {
        width: 100%;
    }
    #comments {
        ol.commentlist {
            padding-left: 0;
            li .comment-text {
                margin-left: 0;
                display: flex;
                flex-wrap: wrap;
                background-color: #efefef;
                justify-content: space-between;
                .description {
                    flex-grow: 1;
                    margin-right: 1rem;
                }
                .comment-rest {
                    display: flex;
                    flex-direction: column;
                }
                .star-rating {
                    float: none;
                    margin-bottom: .75rem;
                    &::before {
                        position: static;
                    }
                    span {
                        float: none;
                    }
                    .meta {
                        text-align: right;
                        >strong {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.divi-slider.header-slide,
.area-img-wrapper {
    @media(max-width: 640px) {
        display: none;
    }
}

.single-aree_terapeutiche {
    .area-img-wrapper {
        border-bottom: 3px solid #FFE800;
        @include media-query(palm) {
            border-top: 3px solid #FFE800;
        }
    }
    .area-content {
        overflow: hidden;
        margin-bottom: 1.5rem;
        .first-col,
        .second-col {
            float: left;
            width: 50%;
            @include media-query(palm) {
                float: none;
                width: 100%;
            }
        }
    }
    .area_terap_attribute_title {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1;
        margin: 0;
        background-color: #ffe801;
        padding: .5rem 0;
        padding-left: 1rem;
    }
    .area_terap_attribute_content {
        padding: 0 4%;
    }
}

.ok-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    >li {
        display: block;
        padding: 8px 0;
        font-family: DINNextLTPro;
        font-weight: 300;
        &::before {
            font: normal normal normal 14px/1 FontAwesome;
            color: #8dba1f;
            margin-right: 4px;
        }
    }
}

.area-content-wrapper {
    overflow: hidden;
    ol,
    ul {
        margin-left: 0;
        padding-left: 1.25rem;
    }
}

.social-container {
    text-align: left;
    position: absolute;
    bottom: 6px;
    padding: 0 3%;
    z-index: 9999;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 500;
    @media(max-width: 35.1875em) {
        position: static;
        margin-top: 1.5rem;
    }
    >div {
        margin-bottom: 1rem;
        @media(max-width: 35.1875em) {
            display: inline-block;
            &:first-child {
                margin-right: 1rem;
            }
        }
    }
    p {
        width: 100%;
        white-space: nowrap;
        margin-top: 0;
        margin-bottom: 0.5rem;
        vertical-align: top;
    }
    .fb-share-button {
        margin-bottom: 1rem;
    }
    .disponibilita {
        span {
            display: block;
        }
        p {
            display: inline-block;
            width: auto;
        }
        &::before {
            content: '';
            display: inline-block;
            background-image: url(../images/disponibilita.svg);
            height: 36px;
            width: 36px;
            margin-right: .5rem;
        }
    }
}

.woocommerce-Reviews-title {
    padding: .25rem 3%;
    font-size: 1.125rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: .5rem;
    margin-top: 0;
}

.woocommerce #reviews #comments ol.commentlist li+li,
#review_form_wrapper {
    margin-top: .25rem;
}

#review_form_wrapper {
    padding: 0 3%;
    background-color: #efefef;
    #reply-title {
        padding: 8px 0;
        font-size: 0.8rem;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.woocommerce #commentform {
    font-size: 0.8rem;
    .comment-form-rating {
        a {
            color: #000;
        }
    }
    .form-submit {
        font-size: 1rem;
    }
    p {
        display: block;
    }
    input#submit {
        background-color: #C2C2C2;
    }
}

body.single-aree_terapeutiche {
    &.woocommerce {
        .product-areat-wrapper {
            display: flex;
            text-align: center;
            flex-wrap: wrap;
        }
        div.product {
            overflow: hidden;
            padding: 0 1rem;
            display: inline-block;
            @media(min-width: 767px) {
                flex-basis: 50%;
            }
            .initial-text h3:last-of-type {
                margin-bottom: 1rem !important;
            }
            .initial-text+div {
                position: static !important;
            }
            >div.first-col,
            >div.second-col {
                width: auto;
                float: none !important;
            }
            div.images {
                text-align: center;
                img {
                    width: auto;
                }
            }
            .buy-wrapper {
                justify-content: center;
                width: 100%;
            }
        }
        #reviews {
            overflow: hidden;
            margin-bottom: 1rem;
        }
        #review_form_wrapper {
            margin-bottom: 1rem;
        }
        .social-container {
            position: static;
            padding: 0 2%;
            width: auto;
            overflow: hidden;
            >div {
                display: inline-block;
                vertical-align: top;
                margin-right: 1rem;
                &:last-of-type {
                    margin-right: 0;
                }
            }
            .fb-share-button {
                margin-bottom: 0;
            }
        }
    }
}

.woocommerce-cart .wc-proceed-to-checkout {
    @include media-query(palm) {
        padding-bottom: 0;
    }
}


/****************CHECKOUT***************/

.woocommerce-checkout {
    .col2-set {
        .col-1,
        .col-2 {
            float: none;
            width: auto;
        }
    }
}

@media(max-width:600px) {
    .woocommerce form .form-row-first,
    .woocommerce form .form-row-last,
    .woocommerce-page form .form-row-first,
    .woocommerce-page form .form-row-last {
        float: none;
        width: auto;
    }
    .woocommerce form .form-row-last,
    .woocommerce-page form .form-row-last {
        float: none;
    }
}

body.noi {
    img {
        margin: 0 auto;
        width: 100%;
    }
    .azienda-header-image {
        @media (min-width: 1020px) {
            border-bottom: 4px solid #FAE917;
        }
    }
}

#mission {
    display: flex;
    position: relative;
    padding-top: 1rem;
    .mission-col1 {
        display: flex;
        flex-shrink: 120;
    }
    .mission-text {
        line-height: 1.4;
        font-weight: 500;
        margin-bottom: 32%;
        flex-grow: 2;
        display: flex;
        align-content: center;
        align-items: center;
        padding: 0 3% 1.5rem;
    }
    >img {
        margin: 0 auto;
        width: auto;
    }
    >h2 {
        margin: 0;
        background-color: #FAE917;
        text-transform: uppercase;
        font-size: 89px;
        padding-left: 3%;
        line-height: 150%;
        height: 32%;
        color: rgba(113, 112, 112, 0.2);
        font-weight: 600;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }
    @media (max-width:1020px) {
        flex-wrap: wrap;
        padding: 0;
        .mission-col {
            order: 2;
            padding: 1rem 3%;
        }
        >img {
            order: 3;
            padding: 0 3%;
        }
        .mission-col,
        >img {
            flex-basis: 100%;
        }
        >h2 {
            order: 1;
            text-align: center;
            padding: 0 3%;
            height: auto;
            position: static;
            line-height: 1.5;
        }
    }
}

#vision {
    position: relative;
    border-bottom: 16px solid #FAE917;
    .vision-text {
        position: absolute;
        top: 0;
        z-index: 11;
        color: #fff;
        max-width: 30%;
        right: 2%;
        text-align: right;
        h2 {
            margin: 1rem 0 0;
            font-size: 50px;
            text-transform: uppercase;
            line-height: 1;
        }
        div {
            padding-left: 30%;
        }
    }
}

#valori {
    padding-top: 1rem;
    h2 {
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 45px;
        color: #c0c0bf;
        font-weight: 600;
    }
    .valori-list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        @media(max-width: 900px) {
            flex-wrap: wrap;
            margin-bottom: 0;
        }
    }
    .valori-single {
        text-align: center;
        flex-basis: 33.333%;
        @media(max-width: 900px) {
            flex-basis: 100%;
            margin-bottom: 1.5rem;
        }
        &:first-of-type .valori-text h4 {
            color: #FECB46;
        }
        &:nth-of-type(2) .valori-text h4 {
            color: #75CAE6;
        }
        &:nth-of-type(3) .valori-text h4 {
            color: #93C56A;
        }
    }
    .valori-image img {
        width: auto;
        height: 50px;
        border: 1px solid #969595;
        border-radius: 50%;
        padding: 4%;
        box-sizing: content-box
    }
    .valori-text {
        padding: 0 7%;
        h4 {
            text-transform: uppercase;
            font-size: 1.5rem;
            margin: 1.5rem 0 0;
        }
        p {
            padding: 0 7.5%;
            margin: 1rem auto;
        }
    }
}

body.page-template-custom-search {
    .main {
        margin-bottom: 3rem;
    }
    h3 {
        margin-top: 0;
    }
    article {
        margin-bottom: 1.5rem;
        a {
            color: #444;
            text-decoration: none;
        }
    }
}

footer.content-info {
    #field_1_2 {
        .gfield_label {
            display: none;
        }
        .gfield_checkbox {
            margin-bottom: 0;
            li {
                overflow: hidden;
                margin-bottom: 0;
            }
            input {
                vertical-align: top;
                //margin-top: 3px;
                float: left;
                margin-right: 4px;
            }
            label {
                display: inline;
                line-height: 1;
            }
        }
    }
    .gform_footer {
        margin-top: 0;
    }
}

body.page-template-template-contacts #et_builder_outer_content {
    .gfield {
        margin-bottom: 1rem;
    }
    input,
    textarea {
        border: 1px solid #444;
    }
    .gform_button {
        padding: 1rem 2rem;
        font-weight: 500;
    }
}

.woocommerce-cart {
    table.cart img {
        width: 50%;
    }
}

body.woocommerce-account {
    .woocommerce {
        padding: 1rem 0;
    }
    .woocommerce-MyAccount-navigation {
        border-right: 1px solid #444;
        ul {
            list-style: none;
            li {
                padding: .5rem 0;
                a {
                    text-decoration: none;
                    color: #444;
                }
            }
        }
    }
    /*
    ul.order_details {
        @include clearfix;
        list-style: none;
        position: relative;
        margin: ms(6) 0;
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: -16px;
            left: 0;
            width: 100%;
            height: 16px;
            background-size: 0px 100%, 16px 16px, 16px 16px;
        }
        &:after {
            top: auto;
            bottom: -16px;
            @include transform(rotate(180deg));
        }
        li {
            padding: 1em ms(3);
            font-size: .8em;
            text-transform: uppercase;
            &:first-child {
                padding-top: ms(3);
            }
            &:last-child {
                border: 0;
                padding-bottom: ms(3);
            }
            strong {
                display: block;
                font-size: ms(2);
                text-transform: none;
            }
        }
    }
    .my_account_orders,
    .woocommerce-MyAccount-downloads {
        .button {
            padding: ms(-2) ms(-1);
            font-size: ms(-1);
            margin-right: .236em;
        }
    }
    .woocommerce-MyAccount-content {
        h2 {
            font-size: 2em;
            font-weight: 600;
        }
        #payment {
            .payment_methods {
                margin-bottom: ms(3) !important;
                li {
                    .payment_box {
                        background-color: rgba(#000, .05);
                    }
                }
            }
        }
    }
    */
}
